
@import 'base/typography';
@import 'abstracts/placeholders';
@import 'base/reset';
@import 'layout/home';
@import 'layout/authentication';


body{
  position:relative;

  
}


:is(h1,h2,h3,a,button){
    font-family:$primary-font;
}

p{
  font-family:$secondary-font;
}

