
@import 'base/typography';
@import 'abstracts/placeholders';
@import 'base/reset';
@import 'layout/home';
@import 'layout/dashboard';
@import 'layout/authentication';
@import 'layout/error_account';
@import 'utilities/errors';



body{
  position:relative;
  
 
}

:is(h1,h2,h3,a,button){
    font-family:$primary-font;
}

:is(p,span,label,input){
  font-family:$secondary-font;
}


