

%flex-spread{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

%flex-spread-around{
    display:flex;
    align-items: center;
    justify-content: space-around;
}
%flex-spread-vertical{
    display:flex;
    flex-direction: column;
    align-items: center;
    
}

%flex-center{
    display:flex;
    align-items: center;
    justify-content: center;
}

%flex-align-center{
    display:flex;
    align-items: center;
}
%flex-align-center-vertical{
    display:flex;
    flex-direction: column;
    align-items: center;
}

%subheading-text{
    max-width: 60ch;
    margin-left:auto;
    margin-right: auto;
}

