
@import "../abstracts/variables";
@import "../base/typography";
@import '../abstracts/placeholders';

.menu-icon-container{
    width: 30px;
    height:30px;
    @extend %flex-center;
    cursor: pointer;


}

.leading-text{
    font-size:var(--fs-text);
    color:$light-white;
    font-weight: $fw-400;
    line-height: 1.5rem;
}

.text-center{
    text-align: center;
}