
@import '../abstracts/colors';
@import '../abstracts/variables';
@import '../base/typography';

.btn{
    padding:0.8rem 2rem;
    border-radius: 40px;
    border:none;
    cursor: pointer;
    
    @media(min-width: 767px)
    {
      padding:1rem 3rem;
    }
}

.btn-default{
  background:none;
  color: $pure-white;
  font-size: var(--fs-btn);
    font-family: $secondary-font;
    font-weight: 500;
   border:1px solid $light-orange;
   transition: all 0.2s ease-in-out;

   &:hover{
    background:$light-orange;
   
   }

}

.btn-primary{
    background:$light-orange;
    color:$pure-white;
    font-size: var(--fs-btn);
    font-family: $secondary-font;
    font-weight: 500;
    transition:all 0.3s ease-out;

    &:hover{
      box-shadow: 0px 10px 60px rgba(254, 108, 77, 0.4);
    }
}

