
.data_item_profile{
   margin:1rem 0;
    .heading-profile{
        display:flex;
        align-items: center;
        height:60px;

        .profile-image-container{
            @extend %flex-center;
            width:60px;
            height:60px;
            background:#E9E8E4;
            border-radius: 20px;
            position:relative;
            overflow: hidden;
        
            .profile-image{
                object-fit: cover;
                object-position: center;
                width: 60px;
                height:60px;
                position:absolute;
               
             }

             .user-icon{
                 color:'red'
             }
        }
        .heading-profile-content{
            margin-left: 1rem;
            height:100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            h3{
              font-size: 1rem;
              color:#202224;
              font-weight: 600;
            }
            span{
                font-size:12px;
                color:#717579;
                font-weight: 700;
                
            }
        }
    }

    .content{
        display:flex;
        align-items: center;
        justify-content: space-between;
        padding:1.3rem 1rem;
        border: 1px solid #F5F5F5;
       box-sizing: border-box;
       border-radius: 10px;
       margin-top:1rem;
       
       h3{
           font-size: 1rem;
           color:$light-black;
           
       }
       span{
           text-transform: capitalize;
           font-size: 1rem;
           font-weight: 700;
       }
    }
}