.empty-invoice-container {
  //border:1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(30%);
  .empty-invoice-illustration {
    width: 194px;
    height: 160px;

    @media (min-width: 767px) {
      width: 241px;
      height: 200px;
    }
  }
  .empty-invoice-content {
    margin-top: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;

    .empty-invoice-content-title {
      color: $light-black;
    }
    .content-description-container {
      margin-top: 1.5rem;
      width: 80%;
      align-self: center;

      @media (min-width: 767px) {
        width: 60%;
      }
      .empty-invoice-content-description {
        font-size: 0.875rem;
        color: $light-gray;
        font-weight: 400;
        text-align: center;

        span {
          font-weight: 700;
        }
      }
    }
  }
}
