
@import '../components/-main-form.scss';

.create-customer-wrapper{
  background:$dark-white;
  //height:100vh;

  .create-customer-content{
    padding-top: 104px;
  //  border:1px solid red;
    @media(min-width:767px)
    {
      margin-left: 50px;
    }

    .main-heading-title{
        margin:24px 0;
    }
  }
}