
@import '../abstracts/colors';
@import '../abstracts/variables';
@import '../utilities/line';
@import '../utilities/container';
@import '../utilities//utilities';
@import '../utilities/logo';
@import '../components/nav-bar';
@import '../components/buttons';
@import '../components/modal';


.home-page-wrapper{
   background:$dark-blue-bg;
   position: relative;
}

.graphic-bg{
    width:240px;
    height:559px;
    background: linear-gradient(123.29deg, rgba(136, 66, 251, 0) 8.03%, rgba(213, 93, 250, 0.32) 73.62%, #FF6BF9 99.7%);
     transform:rotate(60deg);
    position:absolute;
    top:-160px;
    left:50px;

    .upper-line{
        width: 200px;
        transform: rotate(90deg);
        position: absolute;
         top:360px;
        right:60px;
        z-index: 1;
       
    }
    & :nth-child(2).upper-line{
        width:200px;
        top:400px;
        left:50px; 
        z-index: 1; 
    }
  
}
.hero-section{
    margin-top: var(--top-spacing);
    position:relative;
    height:700px;
    
    .hero-img-container{
       .hero-img{
          object-fit: cover;
       }
    }
    .bottom-line{
      width:500px;
      position:absolute;
      top:350px;
      left:-50px;
      transform: rotate(-27.1deg);
      z-index: 1;
    }

    .hero-content{
        display:flex;
        flex-direction: column;
        align-items: center;
        margin-top:2rem;
        position: relative;
        z-index: 2;
        h1{
            font-size: var(--fs-h1);
            color:$pure-white;
            text-align: center;
            font-weight: 900;
            line-height: var(--heading-line-height);   
        }
        span{
            color:$light-orange;
        }
        
        .text{
            margin-top: 1rem;
            
        }
       .btn
       { margin-top: 1.5rem;
        }
    }
}

.bg-hero-shape{
 position: absolute;
 top:150px;
 right:0;
 
}

.features-section{
    border:1px solid red;
    margin:var(--top-spacing) 0;
    height:600px;

    .features-subheading{
        margin:var(--top-spacing) 0;
    }
}