
@import '../abstracts/colors';
@import '../abstracts/variables';
@import '../utilities/line';
@import '../utilities/container';
@import '../utilities//utilities';
@import '../utilities/logo';
@import '../components/nav-bar';
@import '../components/buttons';
@import '../components/modal';
@import '../components/feature-card';


.home-page-wrapper{
   background:$dark-blue-bg;
   position: relative;
}

.graphic-bg{
    position:absolute;
}
.hero-section{
    margin-top: var(--top-spacing);
    position:relative;
    height:680px;

        .hero-img-container{
        
            display:flex;
            align-items: center;
            justify-content: center;
          
            .hero-img{
              object-fit: cover;
              width: 100%;
              max-width: 500px;
              
              
            }
         }

    .hero-content{
        display:flex;
        flex-direction: column;
        align-items: center;
        margin-top:2rem;
        position: relative;
        z-index: 2;
      
        h1{
            font-size: var(--fs-h1);
            color:$pure-white;
            text-align: center;
            font-weight: 900;
            line-height: var(--heading-line-height);   
        }
        span{
            color:$light-orange;
        }
        
        .text{
            margin-top: 1rem;
            
        }
       .btn
       { margin-top: 1.5rem;
        }
    }

    @media(min-width:450px)
    {
       height:750px;
    }

    @media(min-width:600px)
    {  
      .hero-content{
         margin-top: 3rem;
         
        .leading-text{
           padding:0 2rem;
        }
      }
    }

    @media(min-width:767px)
    {
        margin-top:3.5rem;
        height:640px;
        .container{
            display:grid;
            grid-template-columns:repeat(2,1fr);
            grid-gap:20px;
            
            .hero-content{
                grid-column: 1/2;
                grid-row: 1/2;
                align-items: flex-start;
        
                h1{
                    text-align: left;
                }
                .leading-text{
                    text-align: left;
                    padding:0;
                    margin-top: var(--top-spacing);
                }
                .btn{
                    margin-top: 2rem;
                }
                
            }
            .hero-img-container{
                grid-column: 2/3;
                grid-row: 1/2;

                .hero-img{
                 position:absolute;
                 top:-50px;
                 right:-15px;
                 max-width: 400px;
                 transform:rotate(-1deg);
                 z-index: 5;
                }
            }
        }
    }


}

.bg-hero-shape{
 position: absolute;
 top:150px;
 right:0;
 
 @media(min-width:767px)
 {
     top:90px;
     width:300px;
 }
 
}

.features-section{
    margin:var(--top-spacing) 0;
    .features-subheading{
        margin:var(--top-spacing) 0;
    }
    .features-card-container{
       display:grid;
       grid-template-columns:repeat(auto-fit,minmax(20.25rem,1fr));
       gap:1rem;
    }
}

.about-section{
    margin:var(--top-spacing) 0;
    padding:5rem 0; 
   
    .container{
        @extend %flex-align-center-vertical;

        .about-image-container{
           position:relative;
           
           .dashboard-about-img
           {
               position: relative;
               z-index: 5;
           }
           .shapeRectangleA{
               position:absolute;
               top:140px;
               left:-3px;
               z-index: 1;
           }
        }

        .description-container{
            @extend %flex-align-center-vertical;
            margin-top: 4rem;
            position: relative;

            & > *{
                margin:0.7rem 0;
            }
           :is(.section-title,.leading-text)
            {
              position: relative;
              z-index: 5;
            }
            .shapeRectangleB{
                position:absolute;
                top:-150px;
                right:-25px;
                z-index: 1;
            }
        }
    }  
}

.feature-B-section{
    padding:2rem 0 4rem 0;
    .featureB-header{
        img{
            width: 100%;
        }
    }
    .featureB-content-container{
        margin-top: 3rem;

        .header-content{
            .leading-text{
                margin-top: var(--top-spacing);
            }
        }
       :is(.featureA-content,featureB-content)
        {
          margin-top: var(--top-spacing);
        }
        button{
            display:block;
            margin:var(--top-spacing) auto;
        }
    }
}
.main-footer{
    background:linear-gradient(90.31deg, #132B50 -10.69%, rgba(19, 43, 80, 0) 100%);
    margin-top: auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  
   padding:1.5rem 0;

    .footer-content{
     
        p{
            color:$light-white;
            font-size: var(--fs-text);
            font-family: $secondary-font;
            font-weight: 500;
        }
        .footer-btn-container{
         
            display: flex;
          justify-content: center;
        margin-top: 1rem;
         
            .btn-link{
             border:1px solid $light-white;
             background:none;
             border-radius: 20px;
             padding:0.5rem 2rem;
             color:$light-white;
             font-size: var(--fs-text);
             font-family: $secondary-font;
             cursor:pointer;
             transition: all 0.2s ease-in-out;

             &:hover{
                 background:$light-orange;
                 border:1px solid transparent;
                 color:$pure-white;
             }
            
            }
        }
    }
}